/* style of index.html file, color for the background, text, adjust the position of each element */
/* Style of header */
h1 {
	background-color: #FF6347;
	color: whitesmoke;
	text-align: left;	
	margin: 0px 0px 0px 0px;
	padding: 40px;
	}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #FF7F50;
}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*style the form*/
.info {
    position: relative; 
    z-index: 1;
    background: #F5F5F5; 
    max-width: 360px;
    margin: 50px auto 100px; 
    padding:25px; text-align: center;
    
}
/* Style body */
body {
    background-color: #FFDEAD;
}
